body {
  background-image: url("https://t4.ftcdn.net/jpg/03/14/38/77/360_F_314387737_9q03odxJ0wPqUuAjtrD7FfxcKTedRbjR.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Additional styles if needed */
}

body {
  margin-left: 40px;
}

/* Define the layout for the container */



.custom-button {
  display: block;
  background-color: blue;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.5s ease; /* Add a transition to the background-color property */
}

/* Add hover effect to the button */
.custom-button:hover {
  background-color: #0056b3; /* Change the background color on hover */
}
.abc {
  display: block;
  background-color: blue;
  color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.5s ease; /* Add a transition to the background-color property */
}

/* Add hover effect to the button */
.abc:hover {
  background-color: #0056b3; /* Change the background color on hover */
}

/* Style the horizontal section */
.container {
  display: flex;
  flex-wrap: wrap;
    max-width: 800px; /* Adjust this value to set the maximum width of the container */
    margin: 10 top; /* Center the container horizontally */
    padding: 20px;
    align-items: flex-start; ; 
}

/* Style the image on the left */
.left-image {
  max-width: 100%; /* Set the maximum width of the image, adjust as needed */
  margin-right: 5px;
  /* Custom styling for the image */

  height: 400px; /* Set the height of the image */
  width: 600px; 
  transition: transform 0.5s ease;/* Set the width of the image */
}
.left-image :hover {
  transform: scale(1.5);
}

/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Basic styling for the navigation bar */
nav {
  background-color: lightblue;
  padding: 20px 30px;
}

/* Style for the navigation links */
nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
}


nav ul li a:hover {
  background-color:lightpink;
}








